<a href="https://colab.research.google.com/github/Cherznan/WildFire-Shape_Analysis/blob/main/Wildfire_shape_analysis_TestData_Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import missingno as msno
import datetime as dt

In [11]:
test_data = pd.read_csv('https://raw.githubusercontent.com/Cherznan/WildFire-Shape_Analysis/main/viirs-snpp_2021_Thailand.csv')

In [12]:
test_data

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type
0,13.196322,101.005936,339.31,0.44,0.63,2021-01-01,548,N,VIIRS,n,1,279.90,3.57,D,0
1,13.196589,101.005638,339.04,0.44,0.63,2021-01-01,548,N,VIIRS,n,1,280.43,4.53,D,0
2,13.202314,101.004440,367.00,0.44,0.63,2021-01-01,548,N,VIIRS,l,1,280.32,6.99,D,0
3,14.530565,103.687309,329.26,0.56,0.51,2021-01-01,548,N,VIIRS,n,1,291.52,3.58,D,0
4,15.355436,104.417137,342.93,0.48,0.48,2021-01-01,548,N,VIIRS,n,1,293.53,6.79,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111893,15.795572,100.100494,299.53,0.49,0.65,2021-12-31,1936,N,VIIRS,n,1,287.55,0.44,N,0
111894,15.325041,100.580734,301.80,0.53,0.67,2021-12-31,1936,N,VIIRS,n,1,288.02,1.00,N,0
111895,17.348125,101.887260,297.70,0.59,0.70,2021-12-31,1936,N,VIIRS,n,1,285.42,1.08,N,0
111896,13.116381,100.912086,299.05,0.62,0.71,2021-12-31,1936,N,VIIRS,n,1,284.93,1.03,N,2
111897,17.347975,101.887360,299.47,0.59,0.70,2021-12-31,1936,N,VIIRS,n,1,285.52,0.81,N,0

In [15]:
test_data.dtypes

latitude      float64
longitude     float64
bright_ti4    float64
scan          float64
track         float64
acq_date       object
acq_time        int64
satellite      object
instrument     object
confidence     object
version         int64
bright_ti5    float64
frp           float64
daynight       object
type            int64
dtype: object

**คำอธิบาย Dataset **

latitude    :     
longitude   :     
bright_ti4  :    
scan        :          
track       :        
acq_date    :       
acq_time    :       
satellite   :     
instrument  :    
confidence  :    
version     :         
bright_ti5  :   
frp         :           
daynight    :       
type        :

In [19]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111898 entries, 0 to 111897
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   latitude    111898 non-null  float64
 1   longitude   111898 non-null  float64
 2   bright_ti4  111898 non-null  float64
 3   scan        111898 non-null  float64
 4   track       111898 non-null  float64
 5   acq_date    111898 non-null  object
 6   acq_time    111898 non-null  int64
 7   satellite   111898 non-null  object
 8   instrument  111898 non-null  object
 9   confidence  111898 non-null  object
 10  version     111898 non-null  int64
 11  bright_ti5  111898 non-null  float64
 12  frp         111898 non-null  float64
 13  daynight    111898 non-null  object
 14  type        111898 non-null  int64
dtypes: float64(7), int64(3), object(5)
memory usage: 12.8+ MB

In [20]:
import folium as fo